/*****************************************
ESTILOS DE NOSOTROS
*****************************************/

.cursiva{
    font-style: italic;
}

.parrafoNosotrosExt{
    width: 100%;
}

.fotoWolfNosotros{
    width: 100%;
    height: auto;
}
