/*****************************************
ESTILOS TIPOGRAFÍAS
*****************************************/

.menuNuevo{
    font-size: 1.2rem;
    font-family: 'Rum Raisin', sans-serif;
}

h1 {
    font-family: 'Englebert', sans-serif;
    text-decoration: underline overline;
    font-size: 2rem;
    text-align: center;
}

.labelInformacion{
    font-family: 'Advent Pro', sans-serif;
    text-align: justify;
    font-size: 0.9rem;
}

.footer__label{
    font-family: 'Rum Raisin', sans-serif;
    font-size: 0.9rem;
    text-align: center;
}
.footer__label:hover{
    font-size: 1.25rem;
}
.tituloInternoContenido{
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
}

.leerMas{
    font-family: 'Advent Pro', sans-serif;
    font-size: 1rem;
}

.parrafoIndex{
    text-align: justify;
    font-family: 'Advent Pro', sans-serif;
}

.labelPregunta{
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
}

.parrafoNosotrosExt{
    text-align: justify;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1rem;
}

.gridContacto__labelTitulos{
    font-family: 'Advent Pro', sans-serif;
    font-size: 1rem;
    text-align: right;
}

.botonFormulario{
    font-family: 'Advent Pro', sans-serif;
    font-size: 1rem;
    color: black;
}

.tituloAcordeon{
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.25rem;
}

.infoAcordeon{
    font-family: 'Englebert', sans-serif;
    font-size: 1rem;
}
.mb-3{
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2rem;
}