/*****************************************
ESTILOS TIPOGRAFÍAS
*****************************************/
@mixin fuente($tamano_fuente, $tipografia) {
    font-size: $tamano_fuente;
    font-family: $tipografia;
}

.menuNuevo{
    @include fuente(1.2rem, $rum);
}
.footer__label{
    @include fuente(0.9rem, $rum);
    text-align: center;
}

h1 {
    @include fuente(2rem, $englebert);
    text-decoration: underline overline;
    text-align: center;
}
.infoAcordeon{
    @include fuente(1rem, $englebert);
}

.mb-3{
    @include fuente(1.2rem, $advent);
}
.labelInformacion{
    @include fuente(0.9rem, $advent);
    text-align: justify;
}

.leerMas{
    @include fuente(1rem, $advent);
}

.parrafoIndex{
    text-align: justify;
    font-family: 'Advent Pro', sans-serif;
}

.labelPregunta{
    @include fuente(1rem, $advent);
    border-radius: 8px;
    text-align: center;
}

.parrafoNosotrosExt{
    text-align: justify;
    @include fuente(1rem, $advent);
}

.gridContacto__labelTitulos{
    @include fuente(1rem, $advent);
    text-align: right;
}

.botonFormulario{
    @include fuente(1rem, $advent);
    color: black;
}

.tituloAcordeon{
    @include fuente(1.25rem, $advent);
}

.footer__label:hover{
    font-size: 1.25rem;
}

.tituloInternoContenido{
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
}