//*****************************************
//VARIABLES GLOBALES
//*****************************************

$azul_logo: #5ce1e6;
$rosado_logo: #fe4185;
$amarillo_logo: #fff84a;
$englebert: 'Englebert', sans-serif;
$advent: 'Advent Pro', sans-serif;
$rum: 'Rum Raisin', sans-serif;